body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right bottom, from(#2e86de), to(#c8d6e5));
  background: linear-gradient(to right bottom, #2e86de, #c8d6e5);
}

body main {
  position: relative;
  width: 200px;
  height: 200px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: scaleZ(60deg);
          transform: scaleZ(60deg);
  -webkit-animation: 3s run infinite alternate linear;
          animation: 3s run infinite alternate linear;
}

body main:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

body main div {
  position: absolute;
  width: 100%;
  height: 100%;
}

body main div:nth-child(1) {
  background: radial-gradient(#1abc9c, #3498db, #9b59b6, #f1c40f, #7f8c8d);
  -webkit-transform: translatez(100px);
          transform: translatez(100px);
}

body main div:nth-child(2) {
  background: -webkit-gradient(linear, left top, right bottom, from(#8e44ad), color-stop(#ecf0f1), to(#2980b9));
  background: linear-gradient(to right bottom, #8e44ad, #ecf0f1, #2980b9);
  -webkit-transform: translatez(-100px);
          transform: translatez(-100px);
}

body main div:nth-child(3) {
  background: linear-gradient(160deg, #ff7f50, #2f3542, #3742fa);
  -webkit-transform: rotateY(-90deg) translatez(-100px);
          transform: rotateY(-90deg) translatez(-100px);
}

body main div:nth-child(4) {
  background: repeating-radial-gradient(#ff4757, #ff7f50, #ffa502, #2ed573, #70a1ff, #3742fa, #6e6e6e);
  -webkit-transform: rotateY(-90deg) translatez(100px);
          transform: rotateY(-90deg) translatez(100px);
}

body main div:nth-child(5) {
  background: conic-gradient(#ff4757, #ff7f50, #ffa502, #2ed573, #70a1ff, #3742fa, #8e44ad);
  -webkit-transform: rotateX(90deg) translatez(-100px);
          transform: rotateX(90deg) translatez(-100px);
}

body main div:nth-child(6) {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(12%, #ff4757), color-stop(0, #ff7f50), color-stop(12%, #ff7f50), color-stop(0%, #ffa502), color-stop(12%, #ffa502), color-stop(#2ed573), color-stop(#70a1ff), color-stop(#3742fa), to(#6e6e6e));
  background: linear-gradient(#ff4757 12%, #ff7f50 0, #ff7f50 12%, #ffa502 0%, #ffa502 12%, #2ed573, #70a1ff, #3742fa, #6e6e6e);
  -webkit-transform: rotateX(-90deg) translatez(-100px);
          transform: rotateX(-90deg) translatez(-100px);
}

@-webkit-keyframes run {
  form {
    -webkit-transform: rotateX(0deg) rotateY(0);
            transform: rotateX(0deg) rotateY(0);
  }
  to {
    -webkit-transform: rotateX(360deg) rotateY(800deg);
            transform: rotateX(360deg) rotateY(800deg);
  }
}

@keyframes run {
  form {
    -webkit-transform: rotateX(0deg) rotateY(0);
            transform: rotateX(0deg) rotateY(0);
  }
  to {
    -webkit-transform: rotateX(360deg) rotateY(800deg);
            transform: rotateX(360deg) rotateY(800deg);
  }
}
/*# sourceMappingURL=3d-cube.css.map */