* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
}
body {
  animation: run 10s infinite alternate linear;
  background: linear-gradient(120deg,#e2e2e2,#576574,#222f3e,#8395a7,#576574,#222f3e,rgba(0,0,0,.5));
  background-size: 600%;
}
.post_item{
  border-top: 1px solid #e2e2e2;
  padding: 10px 20px;
  margin-bottom: 5px;
}
a{
  transition: .3s;
}
a:hover{
  text-decoration:underline;
}
header{
  background: #ffffff;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.3);
}
section{
  width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px 0 ;
}
section > .wrap{
  background: #ffffff;
}
footer{
  text-align: center;
  padding: 20px 0;
}

@keyframes run{
  0%{
    background-position: left;
  }
  100%{
    background-position: right;

  }
}
