extends basic-layout.pug

block content
  form(action="", method="post")
    div 用户名: #{user.name}
    div 新密码:
    input(type="password" name="password")
    div 确认密码 :
    input(type="password" name="retype-password")
    div: button 确定
  script.
    let btn = document.querySelector('button')
    let password = document.querySelector('[name="password"]')
    let retypePassword = document.querySelector('[name="retype-password"]')

    btn.onclick = e => {
      if(password.value && password.value == retypePassword.value){

      }else{
        alert("密码不一致")
        password.value = retypePassword.value = ""
        e.preventDefault()
      }
    }
