header(class="container-fluid ")
  div(class="container header")
    div(class="logo")
      a(href='/') Explore 
    input(type="text" class="form-control col-sm-6") 
    if(user)
      div 欢迎~,#{user.name}
        |
        |
        a(href='/logout') 退出
    else
      div 未登录,
        |
        |
        a(href='/login') 登录 
        |
        |
        a(href='/register') 注册
