extends basic-layout.pug

block content
  form(action="/login" method ='post')
    div 用户名
    input(type="text" name='name')
    div 密码
    input(type="password", name="password")
    div: button 登录
  script.
    let loginForm = document.querySelector('form')
    loginForm.onsubmit = function(e){
      e.preventDefault()
      $.post('/login',{
        name:loginForm.elements.name.value,
        password:loginForm.elements.password.value,
      }).then(result => {
        console.log(result)
        if(result.code == 0){
          alert('登录成功，即将跳回首页')
          location.href = '/'
        }else{
          alert(result.mes)
        }
      })
    }
  