*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.clearflex::after{
  content: "";
  display: block;
  clear: both;
}
/*头部*/
header{
  background: #333333;
  widows: 100%;
}
.header_box{
  width: 1226px;
  margin: auto;
  white-space: nowrap;
}
.header_box .top_nav{
  float: left;
}
.header_box .top_nav>a,.header_box .top_login>a{
  display: inline-block;
  color: #b0b0b0;
  line-height: 40px;
  font-size: 12px;
}
.header_box .top_nav>a:first-child{
  padding-left: 0;
}
.header_box .top_nav>span,.header_box .top_login>span{
  color:#424242;
  margin: 0.3em;
}
.header_box .top_nav>a:hover,.header_box .top_login>a:hover{
  color: white;
}
.header_box .top_nav .app{
  position: relative;
  }
.header_box .top_nav .app::after{
  position: absolute;
  width: 124px;
  height: 0;
  content: "小米商城APP";
  background: url(img/app.png) no-repeat center 15px ;
  background-size: 75%;
  top:calc(100% + 1px);
  left: 0;
  transform: translate(-25%);
  box-shadow: 0 0 5px 0 rgba(0 ,  0, 0, .3);
  text-align: center;
  color: #333333;
  line-height: 255px;
  font-size: 0;
  cursor: pointer;
  transition: height  .3s;
  display: block;
  z-index: 3;
}
.header_box .top_nav .app::before{
  content: "";
  position: absolute;
  width: 0px;
  height: 0;
  border: 7px white solid;
  border-color: transparent transparent white transparent;
  transform: translate(-50%);
  bottom: 0;
  left: 50%;
  display: none;
}
header .header_box .top_nav .app:hover::after{
  height: 148px;
  font-size: 14px;
}
header .header_box .top_nav .app:hover::before{
  
  display: block;
}
.top_login{
  float: right;
}
.top_login  .shop{
  width: 120px;
  background: #424242;
  text-align: center;
  margin-left: 15px;
  transition: .2s;
  position: relative;
}
.top_login .fa-shopping-cart{
  font-size: 16px;
}
.top_login  .shop::after{
  content: " ";
  width: 319px;
  height: 0px;
  background: #ffffff;
  position: absolute;
  top: 100%;
  right: 0;
  box-shadow: 0 0 5px 0px rgba(143, 141, 141, 0.5);
  text-align:center;
  line-height: 100px;
  font-size: 0;
  transition: .3s;
  z-index: 2;
}
header .header_box .top_login .shop:hover::after{
  font-size: 12px;
  height: 100px;
  content: "购物车中还没有商品，赶快选购吧！";
  color: #333333;
  
}
header .header_box .top_login .shop:hover{
  background: #ffffff;
  color: #ff6700;
}
/*固定导航*/
.flex_right-nav{
 width: 84px;
 position: fixed;
 right: 0;
 bottom: 70px;
  z-index: 999;
}
.flex_right-nav ul li  a i{
 margin: 15px 0 10px 0;
 font-size: 30px;
}
.flex_right-nav ul li{
 margin-top: -1px;
}
.flex_right-nav a{
 display: block;
 color: #757575;
 width: 84px;
 height: 92px;
 text-align: center;
 transition: .3s;
 border: 1px solid #f5f5f5;
 font-size: 14px;
 box-sizing: border-box;
 position: relative;
 background: #FFFFFF;
}
.flex_right-nav ul li:first-child a::before{
 content: "手机扫一扫一份赢好礼";
position: absolute;
width: 130px;
height: 192px;
top: 0;
left: -10px;
transform: translate(-100%);
border: 1px solid #f5f5f5;
box-sizing: border-box;
padding: 140px 25px 0 25px;
cursor: pointer;
background: url(img/app.png) no-repeat center 20px;
background-size: 80%;
vertical-align: bottom;
color: #757575;
display: none;
}
.flex_right-nav ul li:first-child:hover a::before,.flex_right-nav ul li:first-child:hover a::after{
 display: block;
}
.flex_right-nav ul li:first-child a::after{
 content: "";
 position: absolute;
 top:21%;
 left: -11px;
 border: 10px solid #f3f3f3;
 border-color: rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) #f3f3f3;
 z-index: 2;
 display: none;
}
.flex_right-nav>ul>li:last-child a{
margin-top: 14px;
}
.flex_right-nav a:hover, .head-nav-list ul li>a:hover{
 color: #FF6700;
}
/*top导航*/
.site_head{
 width: 100%;
 position: relative;
}
.site_head .head_nav{
 width: 1226px;
 margin: auto;
}
.site_head .head_nav>.head_logo{
 width: 55px;
 height: 55px;
 background: #FF6700;
 margin-top: 20px;
 float: left;
}
.site_head .head_nav>.head_logo>h1{
 font-size: 0;
 height: 55px;
 width: 55px;
 background: url(../img/mi-logo.png) no-repeat 50% 50%;
 position: relative;
 transition: .2s ease;
}
.site_head .head_nav>.head_logo>h1::after{
 content: "";
 position: absolute;
 height: 55px;
 width: 55px;
 background: url(../img/mi-home.png) no-repeat 50% 50%;
 top: 0;
 left: 0;
 transform: translate(-100%);
 transition: .2s ease;
}
.site_head .head_nav>.head_logo:hover >h1{
 background-position-x: 50px;
}
.site_head .head_nav>.head_logo:hover >h1::after{
transform: translate(0);
}
.head-nav-list{
 white-space: nowrap;
 width: 850px;
 float: left;
}
.head-nav-list>ul
{
 width: 100%;
padding: 12px 0 0 172px;
}
.head-nav-list>ul>li{
 float: left;
}
.head-nav-list>ul>li>a{
 display: block;
 color: black;
 padding: 26px 10px 38px;
 font-size: 16px;
}
.head-nav-list>ul>li:hover >ul {
 height: 229px;
 z-index: 3;
 border-top: 1px #E0E0E0 solid;
}
.head-nav-list>ul>li>ul{
position: absolute;
left: 0;
top: 100%;
width: 100%;
height: 0px;
z-index: 1;
box-shadow:0 5px 8px -5px rgba(0 ,  0, 0, .3) ;
background: white;
transition: height .3s;
overflow: hidden;
border-top: 1px transparent solid;
}
.head-nav-list>ul>li>ul>ul{
 width: 1226px;
 margin: auto;
}
.head-nav-list>ul>li>ul>ul>li{
  float: left;
  width: 180px;
  padding: 35px 12px 0 ;
  text-align: center;
}
.head-nav-list>ul>li>ul>ul>li>a>p{
 color:#FF6700;
 font-size: 12px;
}
.head-nav-list>ul>li>ul>ul>li>a>div{
 color: black;
 font-size: 14px;
}
.head-nav-list>ul>li>ul>ul>li>a>img{
 width: 160px;
 height: 110px;
 box-sizing: border-box;
 margin: 0 0px 10px 0px;
}
.head-nav-serch{
 margin-top: 25px;
 float: right;
 position: relative;
}
.head-nav-serch .head-nav-serch-placedolder{
 position: absolute;
 top: 14px;
 right: 62px;
 transition: .2s;
}
.head-nav-serch  .head-nav-serch-placedolder a
{
display: inline-block;
  margin-left: 5px;
  padding: 0 5px;
  font-size: 12px;
  background: #eee;
  color: #757575;
  line-height: 20px;
  transition: .2s;
}
.head-nav-serch  .head-nav-serch-placedolder a:hover{
color: white;
background: #FF6700;
}
.head-nav-serch .serch_selcet{
 position: absolute;
 left: 0;
 bottom: -300px;
 display: none;
 z-index: 2;
}
.head-nav-serch input[type="text"]:focus ~ .serch_selcet{
display: block;
}
.head-nav-serch .serch_selcet ul li a{
 width: 223px;
 color: black;
 display: block;
 height: 30px;
 padding: 0 0 0 20px;
line-height: 30px;
transition: .3s;
background: #FFFFFF;
}
.head-nav-serch .serch_selcet ul li a:hover{
background: #FAFAFA;
}
.head-nav-serch input[type="text"]{
 padding: 0 10px ;
 line-height: 48px;
 border: 1px solid #e0e0e0;
 outline: none;
 transition: .3s;
 border-right: none;
 width: 223px;
}
.head-nav-serch input[type="text"]:focus{
border: 1px solid #FF6700;
border-right: none;
}
.head-nav-serch input[type="text"]:focus ~ *:not(.head-nav-serch-placedolder){
border: 1px solid #FF6700;
}
.head-nav-serch input[type="text"]:focus ~ .head-nav-serch-placedolder{
opacity: 0;
}
.head-nav-serch form:hover > *{
border-color:#b0b0b0;
}
.head-nav-serch label{
 display: inline-block;
 width: 50px;
 height: 48px;
 border: 1px solid #e0e0e0;
 text-align: center;
 line-height: 48px;
 font-size: 20px;
 vertical-align: top;
 transition: .3s; 
}
.head-nav-serch label:hover{
 background: #FF6700;
 color: white;
 border: 1px solid #FF6700;
}
